.dropdown_wrapper{
    display: none;
    position: relative;
    font-size: 14px;
}

.dropdown_btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: none;
    font-weight: 500;
    line-height: 22px;
    padding: 0.1rem;
    gap: 0.25rem;
    color: var(--clr-purple);
    background-color: var(--clr-white-1);
    border-radius: 0;
    color: var(--clr-black);
}

.dropdown_options{
    display: none;
    top: 3.15rem;
    flex-direction: column;
    position: absolute;
    width: 220px;
    box-shadow: 0 8px 12px rgba(147, 156, 163, 0.12),
                0 0 2px rgba(147, 156, 163, 0.36);
}

.dropdown_options.dropdown_open{
    display: flex;
}

.dropdown_option{
    background-color: var(--clr-white-1);
    cursor: pointer;
    border-top: 1px solid var(--clr-grey-1);
    color: var(--clr-grey-2);
    width: 100%;
    padding: 12px;
}

.dropdown_option:hover{
    background-color: var(--clr-grey-1);
}


@media only screen and (min-width: 475px){

}

@media only screen and (min-width: 640px){

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 1024px){
    .dropdown_wrapper{
        display: flex;
    }
}

@media only screen and (min-width: 1200px){    
    .dropdown_btn{
        gap: 0.5rem;
    }
    
    .dropdown_options.dropdown_open{
        display: flex;
    }
}

@media only screen and (min-width: 1440px){ 
    .dropdown_options{
        top: 3.4rem;
    }
}

@media only screen and (min-width: 1536px){

}