.password_input{
    width: 100%;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0 8px 0 0;
    border: 1px solid var(--clr-grey-4);
    background-color: var(--clr-white-1);

}

.password_input > input{
    flex-grow: 1;
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
}

.password_input > img{
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 100%;
}

.password_input > img:hover{
    background-color: rgb(231, 231, 231);
}



@media only screen and (min-width: 475px){

}

@media only screen and (min-width: 640px){

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 1024px){
    .password_input{
        padding: 0 8px 0 0;
    }
    
    .password_input > input{
        padding: 8px;
    }
}

@media only screen and (min-width: 1200px){
    .password_input{
        padding: 0 10px 0 0;
    }
    
    .password_input > input{
        padding: 10px;
    }
}

@media only screen and (min-width: 1440px){
    .password_input{
        padding: 0 12px 0 0;
    }
    
    .password_input > input{
        padding: 12px;
    }
}

@media only screen and (min-width: 1536px){

}