.explore{
    padding-top: 6.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px , 1fr));
    grid-template-rows: auto;
    gap: 1rem;
}

@media only screen and (min-width: 475px){

}

@media only screen and (min-width: 640px){

}

@media only screen and (min-width: 768px){
    .explore{
        padding-top: 6.25rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px , 1fr));
        grid-template-rows: auto;
        gap: 1.5rem;
    }
}

@media only screen and (min-width: 1024px){

}

@media only screen and (min-width: 1200px){

}

@media only screen and (min-width: 1440px){

}

@media only screen and (min-width: 1536px){

}